<a href="https://colab.research.google.com/github/sanho-is-coral/colab_practice/blob/main/Colaboratory%EC%97%90_%EC%98%A4%EC%8B%A0_%EA%B2%83%EC%9D%84_%ED%99%98%EC%98%81%ED%95%A9%EB%8B%88%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd


(독립,종속),_=tf.keras.datasets.mnist.load_data()
독립=독립.reshape(60000,28,28,1)
종속=pd.get_dummies(종속)
print(독립.shape,종속.shape)

X=tf.keras.layers.Input(shape=[28,28,1])
H=tf.keras.layers.Conv2D(3,kernel_size=5,activation='swish')(X)
H=tf.keras.layers.Conv2D(6,kernel_size=5,activation='swish')(H)
H=tf.keras.layers.Flatten()(H)
H=tf.keras.layers.Dense(84,activation='swish')(H)
Y=tf.keras.layers.Dense(10,activation='softmax')(H)
model=tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')
model.fit(독립,종속,epochs=10)
pred=model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)
Epoch 1/10
1875/1875 [==============================] - 25s 7ms/step - loss: 0.4390 - accuracy: 0.9357
Epoch 2/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0839 - accuracy: 0.9767
Epoch 3/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0593 - accuracy: 0.9840
Epoch 4/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0452 - accuracy: 0.9878
Epoch 5/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0353 - accuracy: 0.9904
Epoch 6/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0293 - accuracy: 0.9919
Epoch 7/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0257 - accuracy: 0.9929
Epoch 8/10
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0227 - accuracy: 0.9944
Epoch 9/10
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0216 - accuracy: 0.9945
Epoch 10/10
1875/1875 [==============================] - 10s 6ms/step - loss: 0.0229 - accuracy: 0.9944

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [2]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [3]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d (Conv2D)             (None, 24, 24, 3)         78

 conv2d_1 (Conv2D)           (None, 20, 20, 6)         456

 flatten (Flatten)           (None, 2400)              0

 dense (Dense)               (None, 84)                201684

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________