<a href="https://colab.research.google.com/github/sanho-is-coral/colab_practice/blob/main/Colaboratory%EC%97%90_%EC%98%A4%EC%8B%A0_%EA%B2%83%EC%9D%84_%ED%99%98%EC%98%81%ED%95%A9%EB%8B%88%EB%8B%A4%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <strong>시작하기</strong>

지금 읽고 계신 문서는 정적 웹페이지가 아니라 코드를 작성하고 실행할 수 있는 대화형 환경인 <strong>Colab 메모장</strong>입니다.

예를 들어 다음은 값을 계산하여 변수로 저장하고 결과를 출력하는 간단한 Python 스크립트가 포함된 <strong>코드 셀</strong>입니다.

In [ ]:
#library using
import tensorflow as tf
import pandas as pd

#data set
file_route='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade=pd.read_csv(file_route)
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
x=lemonade[['온도']]
y=lemonade[['판매량']]
print(x.shape,y.shape)

(6, 1) (6, 1)

In [ ]:
#making model
X=tf.keras.layers.Input(shape=[1]) #the number of column was 1
Y=tf.keras.layers.Dense(1)(X) #x's number of column, x
model=tf.keras.models.Model(X,Y)
model.compile(loss='mse')#organize the way of learning

#model learning
model.fit(x,y,epochs=10000,verbose=0)#verbose means times of print
model.fit(x,y,epochs=10)
#model using

Epoch 1/10
1/1 [==============================] - 0s 7ms/step - loss: 1.9302e-04
Epoch 2/10
1/1 [==============================] - 0s 5ms/step - loss: 1.9301e-04
Epoch 3/10
1/1 [==============================] - 0s 7ms/step - loss: 1.9305e-04
Epoch 4/10
1/1 [==============================] - 0s 8ms/step - loss: 1.9303e-04
Epoch 5/10
1/1 [==============================] - 0s 11ms/step - loss: 1.9292e-04
Epoch 6/10
1/1 [==============================] - 0s 10ms/step - loss: 1.9286e-04
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 1.9288e-04
Epoch 8/10
1/1 [==============================] - 0s 9ms/step - loss: 1.9282e-04
Epoch 9/10
1/1 [==============================] - 0s 10ms/step - loss: 1.9268e-04
Epoch 10/10
1/1 [==============================] - 0s 9ms/step - loss: 1.9264e-04

In [ ]:
#model using
model.predict(x)

array([[40.021744],
       [42.01796 ],
       [44.014175],
       [46.01039 ],
       [48.006607],
       [50.00282 ]], dtype=float32)

In [ ]:
model.predict([[15]])#double [] ?????

array([[30.040667]], dtype=float32)